<!DOCTYPE html>
<html>
<head>
{% block head %}
    <meta charset="utf-8">
    <title>TransEv</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="css/bootstrap-rtl.min.css" media="screen">
    <link rel="stylesheet" href="css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css">
    <link rel="stylesheet" href="css/amsify.suggestags.css">
    {#<link href="vendor/select2/select2/dist/css/select2.min.css" rel="stylesheet" />#}
    <link rel="stylesheet" href="css/custom.css">

{% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
{% block footer %}
    <footer>
        <div class="container text-white">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-12 col-sm-12 foot-item">
                    <h1> TransEv</h1>
                    <ul>
                        <li>Home</li>
                        <li>Frequently asked Questions</li>
                        <li>Media News - Protranslate</li>
                        <li>Translatop Application</li>
                        <li>Success Stories</li>
                        <li>Blog</li>
                        <li> Contact Us</li>
                    </ul>
                </div>
                <div class=" mr-3 footer-after bg-light foot-item"></div>
                <div class="col-lg-3 col-md-12 col-sm-12 foot-item">
                    <h1>Our Services</h1>
                    <ul>
                        <li>Professional Translation</li>
                        <li>Profreading</li>
                        <li>Paraphrasing</li>
                    </ul>
                </div>
                <div class=" mr-5 footer-after bg-light foot-item"></div>
                <div class=" col-lg-4 col-md-12  foot-item">
                    <h1>Legal Liability</h1>
                    <ul>
                        <li>Terms and Conditions</li>
                        <li>Privacy Policy</li>
                    </ul>
                </div>
            </div>
            <div class="row footer-icon follow mb-0">
                <i class="fas fa-chevron-right text-white ml-3 mr-2 mt-1"></i>
                <p class="mb-0"><b>Follow</b> TransEv</p>
            </div>
            <div class="row footer-icon">
                <div class="social d-flex mx-1">
                    <span><i class="fab fa-facebook-f"></i></span>
                    <p>Facebook</p>
                </div>
                <div class="social  d-flex mx-1">
                    <span><i class="fab fa-instagram"></i></span>
                    <p>Instagram</p>
                </div>
                <div class="social  d-flex mx-1">
                    <span><i class="fab fa-twitter"></i></span>
                    <p>Twitter</p>
                </div>
                <div class="social d-flex mx-1">
                    <span class=""><i class="fab fa-linkedin-in"></i></span>
                    <p>Linked in</p>
                </div>
            </div>
            <div class="copyright mt-1 px-0 mt-0 text-left">
                <p>©Copyright 2020, www.transev.com is owned and operated by CC Digital Cast Web</p>
            </div>
        </div>
    </footer>

    <!-- jQuery CDN  -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
            crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script src="vendor/select2/select2/dist/js/select2.min.js"></script>
    <script src="vendor/select2/select2/dist/js/select2.full.js"></script>
    <script src="vendor/select2/select2/dist/js/select2.full.min.js"></script>
    <script src="js/custom.js?v=10"></script>
{% endblock %}
</body>
</html>
